html {
	font-size: 8px;
}

body {
	background-color: #333
}

.App {
	text-align: center;
}

.header {
	background-color: rgb(221, 143, 78);
	padding: 20px;
	font-weight: bold;
	font-size: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header--logo {
	color: white;
}

.forecast--location {
	font-size: 36px;
	color: white;
	text-align: center;
}

.forecast--days {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 8rem;
	flex-wrap: wrap;
}

.forecast--item {
	font-size: 2rem;
	padding: 8rem 4rem;
	color: #ababab;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 150px;
}

.forecast--item--astro {
	font-size: 1.5rem;
}

.forecast--item--avg-temp::after {
	content: '\00b0';
}

.city-filter {
	display: flex;
	align-items: center;
}

.city-filter--form {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.city-filter--form--input {
	height: 36px;
	width: 200px;
	font-family: tahoma;
	font-size: 18px;
	color: #ccc;
	text-align: center;
	border-style: solid;
	border: none;
}

.city-filter--form--button {
	height: 38px;
	font-size: 18px;
	background-color: rgb(66, 94, 153);
	color: white;
	border: none;
	margin-left: 10px;
	width: 76px;
}

.city-filter--form--button:hover {
	cursor: pointer;
	background-color: rgb(85, 105, 150);
}

.city-filter--form--input:focus, .city-filter--form--button:active {
	outline: none;
}